py-tgcalls==1.0.6
aiofiles
aiohttp
asyncio
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
lyricsgenius
motor==3.0.0
pillow
psutil
pykeyboard
pyrogram==1.4.16
python-dotenv
pyyaml==5.3.1
requests
speedtest-cli
spotipy
tgcrypto
numpy
youtube-search
youtube-search-python
yt-dlp
telegraph
